<form autocomplete="off" onsubmit="event.preventDefault();">
    <ol class="actor-list">
    {{#each actors as |actor key|}}
        <li class="form-group actor disposition-{{actor.data.token.disposition}}" data-actor-id="{{actor.id}}" title="{{actor.name}}">
            <label for="party-{{key}}">{{actor.name}}</label>
            <div class="form-fields">
                <input type="checkbox" data-action="select-actor" id="party-{{key}}" name="{{key}}" data-dtype="Boolean" {{checked actor.data.flags.snw.party}}/>
            </div>
        </li>
    {{/each}}
    </ol>
</form>