<form class="snw dialog">
    <div class="form-group">
        <label>{{localize 'SNW.Language'}}</label>
        <div class="form-fields">
            <select name="choice">
                {{#select choices}}
                {{#each choices as |label mode|}}
                <option value="{{mode}}">{{label}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
</div>