<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'SNW.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'SNW.Melee'}} ({{mod data.scores.str.mod}})
      </li>
      <li>
        {{localize 'SNW.exploration.od.long'}} ({{data.exploration.odMod}} in 6)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SNW.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'SNW.SpokenLanguages'}} ({{localize data.languages.spoken}})
      </li>
      <li>
        {{localize 'SNW.Literacy'}} ({{localize data.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SNW.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'SNW.Missile'}} ({{mod data.scores.dex.mod}})
      </li>
      <li>
        {{localize 'SNW.Initiative'}} ({{mod data.scores.dex.init}})
      </li>
      <li>
        {{localize 'SNW.ArmorClass'}} ({{mod data.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SNW.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'SNW.Health'}} ({{mod data.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SNW.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'SNW.saves.magic.long'}} ({{mod data.scores.wis.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'SNW.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'SNW.NumSpecialHirelings'}} ({{data.scores.cha.num_special_hirelings}})
      </li>
      {{#if (gt data.scores.cha.value 12)}}
      <li>
        {{localize 'SNW.details.experience.bonus'}} (+5%)
      </li>
      {{/if}}
    </ol>
  </div>
</form>