<section class="inventory resizable" data-base-size="310">
  <div>
    <li class="item-titles flexrow">
      <div class="item-caret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize "SNW.items.Weapons"}}</div>
      <div class="icon-row">{{localize "SNW.items.Qualities"}}</div>
      <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
      <div class="item-controls">
        <a class="item-control item-create" data-type="weapon" title="{{localize 'SNW.Add'}}"><i
            class="fa fa-plus"></i></a>
      </div>
    </li>
    <ol class="item-list">
      {{#each owned.weapons as |item|}}
      <li class="item-entry">
        <div class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name item-rollable flexrow">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <a>
              <h4 title="{{item.name}}">
                {{item.name~}}
              </h4>
            </a>
          </div>
          <div class="icon-row flexrow">
            {{#each item.data.data.tags as |tag|}}
            {{#if (getTagIcon tag.value)}}
            <img title="{{tag.title}}" src="{{getTagIcon tag.value}}" width="24" height="24" />
            {{/if}}
            {{/each}}
            {{#each item.data.data.tags as |tag|}}
            {{#unless (getTagIcon tag.value)}}
            <span title="{{tag.title}}">{{tag.value}}{{#unless @last}},{{/unless}}</span>

            {{/unless}}
            {{/each}}
          </div>
          <div class="field-short">
            {{#if (eq @root.config.encumbrance "basic")}}_{{else}}{{item.data.data.weight}}{{/if}}
          </div>
          <div class="item-controls">
            {{#if @root.owner}}
            <a class="item-control item-toggle {{#unless item.data.data.equipped}}item-unequipped{{/unless}}"
              title='{{localize "SNW.items.Equip"}}'>
              <i class="fas fa-tshirt"></i>
            </a>
            <a class="item-control item-edit" title='{{localize "SNW.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title='{{localize "SNW.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div>
    <li class="item-titles flexrow">
      <div class="item-caret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize "SNW.items.Armors"}}</div>
      {{#if @root.config.ascendingAC}}
      <div class="field-short">{{localize "SNW.items.ArmorAAC"}}</div>
      {{else}}
      <div class="field-short">{{localize "SNW.items.ArmorAC"}}</div>
      {{/if}}
      <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
      <div class="item-controls">
        <a class="item-control item-create" data-type="armor" title="{{localize 'SNW.Add'}}"><i
            class="fa fa-plus"></i></a>
      </div>
    </li>
    <ol class="item-list">
      {{#each owned.armors as |item|}}
      <li class="item-entry">
        <div class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <a>
              <h4 title="{{item.name}}">
                {{item.name~}}
              </h4>
            </a>
          </div>
          <div class="field-short">
            {{#if @root.config.ascendingAC}}
            {{item.data.data.aac.value}}
            {{else}}
            {{item.data.data.ac.value}}
            {{/if}}
          </div>
          <div class="field-short">
            {{#if (eq @root.config.encumbrance "basic")}}_{{else}}{{item.data.data.weight}}{{/if}}
          </div>
          <div class="item-controls">
            {{#if @root.owner}}
            <a class="item-control item-toggle {{#unless item.data.data.equipped}}item-unequipped{{/unless}}"
              title='{{localize "SNW.items.Equip"}}'>
              <i class="fas fa-tshirt"></i>
            </a>
            <a class="item-control item-edit" title='{{localize "SNW.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title='{{localize "SNW.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="">
    {{!-- Containers items --}}
    <li class="item-titles flexrow">
      <div class="item-caret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize "SNW.items.Containers"}}</div>
      <div class="field-short"><i class="fas fa-suitcase"></i></div>
      <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
      <div class="item-controls">
        <a class="item-control item-create" data-type="container" title="{{localize 'SNW.Add'}}"><i
            class="fa fa-plus"></i></a>
      </div>
    </li>
    <ol class="item-list">
      {{#each owned.containers as |bag|}}
      <li class="item-entry container">
        <div class="item flexrow" data-item-id="{{bag.id}}">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url({{bag.img}})"></div>
            <a>
              <h4 title="{{bag.name}}">
                {{bag.name~}}
              </h4>
            </a>
          </div>
          <div class="field-short">
            {{#if (eq @root.config.encumbrance "basic")}}_{{else if (eq @root.config.encumbrance
            "detailed")}}_{{else}}{{bag.data.data.totalWeight}}{{/if}}
          </div>
          <div class="field-short">
            {{#if (eq @root.config.encumbrance "basic")}}_{{else if (eq @root.config.encumbrance
            "detailed")}}_{{else}}{{bag.data.data.weight}}{{/if}}
          </div>
          <div class="item-controls">
            {{#if @root.owner}}
            <a class="item-control item-edit" title='{{localize "SNW.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title='{{localize "SNW.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
        <div class="item-gallery">
          {{#each bag.data.data.itemIds as |item|}}
          <div class="item-entry">
            <div class="item item-square" data-item-id="{{item.id}}">
              <div class="item-control item-edit item-image" style="background-image: url({{item.img}})" title="{{item.name}}"></div>
              {{#if item.data.data.quantity.value}}
              <span class="item-quantity">{{item.data.data.quantity.value}}</span>
              {{/if}}
            </div>
          </div>
          {{/each}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="">
    {{!-- Misc items --}}
    <li class="item-titles flexrow">
      <div class="item-caret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize "SNW.items.Misc"}}</div>
      <div class="field-short"><i class="fas fa-hashtag"></i></div>
      <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
      <div class="item-controls">
        <a class="item-control item-create" data-type="item" title="{{localize 'SNW.Add'}}"><i
            class="fa fa-plus"></i></a>
      </div>
    </li>
    <ol class="item-list">
      {{#each owned.items as |item|}}
      <li class="item-entry">
        <div class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <a>
              <h4 title="{{item.name}}">
                {{item.name~}}
              </h4>
            </a>
          </div>
          <div class="field-short quantity">
            <input value="{{item.data.data.quantity.value}}" type="text" placeholder="0" />{{#if
            item.data.data.quantity.max}}<span>/{{item.data.data.quantity.max}}</span>{{/if}}
          </div>
          <div class="field-short">
            {{#if (eq @root.config.encumbrance "basic")}}_{{else if (eq @root.config.encumbrance
            "detailed")}}_{{else}}{{item.data.data.weight}}{{/if}}
          </div>
          <div class="item-controls">
            {{#if @root.owner}}
            <a class="item-control item-edit" title='{{localize "SNW.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title='{{localize "SNW.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
        {{#if item.data.data.quantity.max}}
        {{#if (lte item.data.data.quantity.max 38)}}
        <div class="consumable-counter">
          <label>{{localize "SNW.items.uses"}}</label>
          {{#times item.data.data.quantity.value}}<div class="full-mark"></div>{{/times}}
          {{#times (subtract item.data.data.quantity.max item.data.data.quantity.value)}}<div class="empty-mark"></div>
          {{/times}}
        </div>
        {{/if}}
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="">
    {{!-- Treasure items --}}
    <li class="item-titles flexrow">
      <div class="item-caret"><i class="fas fa-caret-down"></i></div>
      <div class="item-name">{{localize "SNW.items.Treasure"}}</div>
      <div class="field-long">{{data.treasure}} <i class="fas fa-circle"></i></div>
      <div class="field-short"><i class="fas fa-hashtag"></i></div>
      <div class="field-short"><i class="fas fa-weight-hanging"></i></div>
      <div class="item-controls">
        <a class="item-control item-create" data-type="item" data-treasure="true" title="{{localize 'SNW.Add'}}"><i
            class="fa fa-plus"></i></a>
      </div>
    </li>
    <ol class="item-list">
      {{#each owned.treasures as |item|}}
      <li class="item-entry">
        <div class="item flexrow" data-item-id="{{item.id}}">
          <div class="item-name flexrow">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <a>
              <h4 title="{{item.name}}">
                {{item.name~}}
              </h4>
            </a>
          </div>
          <div class="field-long">{{mult item.data.data.quantity.value item.data.data.cost}}</div>
          <div class="field-short quantity">
            <input value="{{item.data.data.quantity.value}}" type="text" placeholder="0" />{{#if
            item.data.data.quantity.max}}<span>/{{item.data.data.quantity.max}}</span>{{/if}}
          </div>
          <div class="field-short">
            {{mult item.data.data.quantity.value item.data.data.weight}}
          </div>
          <div class="item-controls">
            {{#if @root.owner}}
            <a class="item-control item-edit" title='{{localize "SNW.Edit"}}'><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title='{{localize "SNW.Delete"}}'><i class="fas fa-trash"></i></a>
            {{/if}}
          </div>
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</section>
<section>
  {{#with data.encumbrance}}
  <div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
    <span class="encumbrance-bar" style="width:{{pct}}%"></span>
    <span class="encumbrance-label">{{value}} / {{max}}</span>
    {{#each steps as |s|}}
    <i class="encumbrance-breakpoint arrow-up" style="left:{{s}}%"></i>
    <i class="encumbrance-breakpoint arrow-down" style="left:{{s}}%"></i>
    {{/each}}
  </div>
  {{/with}}
</section>