<div class="profile">
  <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
</div>
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'SNW.Name'}}" />
  </h1>
  <ul class="summary flexrow">
    <li class="flex2 flexrow check-field">
      <div>
        <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" />
        <label>{{localize 'SNW.details.alignment'}}</label>
      </div>
      <div class="check reaction-check" title="{{localize 'SNW.roll.reaction'}}"><a><i class="fas fa-dice"></i></a>
      </div>
    </li>
    <li class="flexrow check-field" data-check="dungeon">
      <div>
        <input type="text" name="data.details.appearing.d" value="{{data.details.appearing.d}}" />
        <label>{{localize 'SNW.details.appearing'}}</label>
      </div>
      <div class="check appearing-check" title="{{localize 'SNW.roll.appearing'}}"><a><i class="fas fa-dice"></i></a>
      </div>
    </li>
    <li class="flexrow check-field" data-check="wilderness">
      (<div><input type="text" name="data.details.appearing.w" value="{{data.details.appearing.w}}" /></div>)
      <div class="check appearing-check" title="{{localize 'SNW.roll.appearing'}}"><a><i class="fas fa-dice"></i></a>
      </div>
    </li>
    {{#if config.morale}}
    <li class="flexrow check-field">
      <div>
        <input type="text" name="data.details.morale" value="{{data.details.morale}}" />
        <label>{{localize 'SNW.details.morale'}}</label>
      </div>
      <div class="check morale-check" title="{{localize 'SNW.roll.morale'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    {{/if}}
  </ul>
  <ul class="summary flexrow">
    <li>
      <input type="text" name="data.details.xp" value="{{data.details.xp}}" />
      <label>{{localize 'SNW.details.experience.award'}}</label>
    </li>
    <li class="treasure-table" title="{{localize 'SNW.details.treasureTableHint'}}">
      <div>{{{data.details.treasure.link}}}</div>
      <label>{{localize 'SNW.details.treasure'}}</label>
    </li>
  </ul>
</section>