<div class="snw game-license">
  <p class="snw game-license">
    This unofficial system requires Old-School Essentials Core Rules that
    you can find <a href="https://necroticgnome.com">here</a>.
  </p>
  <p>
    Old School Essentials is a trademark of Necrotic Gnome, the trademark is
    used with permission under license.
  </p>
  <p>
      Brought to life on Foundry VTT by U~man.
  </p>
  <div class="button">
    <a href="https://ko-fi.com/H2H21WMKA" target="_blank"
    ><img
      height="36"
      style="border: 0px; height: 28px;"
      src="https://cdn.ko-fi.com/cdn/kofi2.png?v=2"
      border="0"
      alt="Buy Me a Coffee at ko-fi.com"
  /></a>
  </div>
  <div class="footer">
      Report your issues on <a href="https://gitlab.com/mesfoliesludiques/foundryvtt-ose/-/boards">Gitlab</a>
  </div>
</div>
