<form class="snw roll-dialog">
    {{#if data.rollData.details}}
    <div class="roll-details">
        {{data.rollData.details}}
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "SNW.Formula"}}</label>
        <input type="text" name="formula" value="{{formula}}" disabled />
    </div>
    <div class="form-group">
        <label>{{localize "SNW.SitMod"}}</label>
        <input type="text" name="bonus" value="" placeholder="{{localize 'SNW.RollExample'}}" />
    </div>
    <div class="form-group">
        <label>{{localize "SNW.RollMode"}}</label>
        <select name="rollMode">
            {{#select rollMode}}
            {{#each rollModes as |label mode|}}
            <option value="{{mode}}">{{localize label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</form>