<div class="snw chat-card item-card" data-actor-id="{{data.actor.id}}" data-item-id="{{data.item.id}}"
    {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <div class="snw chat-block">
        <div class="flexrow chat-header">
            <div class="chat-title">
                <h2>{{title}}</h2>
            </div>
            {{#if data.item}}
            <div class="chat-img" style="background-image:url('{{data.item.img}}')"></div>
            {{else}}
            <div class="chat-img" style="background-image:url('{{data.actor.img}}')"></div>
            {{/if}}
        </div>
        {{#if result.victim}}
        <div class="chat-target">
            vs {{result.victim}}
        </div>
        {{/if}}
        <div class="blindable" data-blind="{{data.roll.blindroll}}">
            <div class="chat-details">
                <div class="roll-result">{{{result.details}}}</div>
            </div>
            {{#if rollSNW}}<div>{{{rollSNW}}}</div>{{/if}}
            {{#if result.isSuccess}}
            <div class="chat-details">
                <div class="roll-result"><b>{{localize 'SNW.messages.InflictsDamage'}}</b></div>
            </div>
            <div class="damage-roll">{{{rollDamage}}}</div>
            {{#if data.roll.save}}
            <div class="card-buttons">
                <button data-action="save" data-save="{{data.roll.save}}" disabled>
                    {{lookup config.saves_long data.roll.save}} - {{localize "SNW.spells.Save"}}
                </button>
            </div>
            {{/if}}
            {{/if}}
        </div>
    </div>
</div>