.snw.actor.monster {
  min-height: 565px;
  min-width: 460px;
  .header-details {
    .summary {
      .treasure-table {
        text-align: center;
      }
      .check-field {
        &:hover {
          .check {
            display: block;
          }
        }
        .check {
          display: none;
          line-height: 35px;
          flex: 0 0 20px;
          position: absolute;
          font-size: 12px;
          &:hover {
            color: $colorDark;
          }
        }
      }
    }
  }
  .sheet-body {
    .editor {
      height: 300px;
    }
    .attributes-tab {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100%;
      .attribute-row {
        .attributes {
          justify-content: space-between;
        }
      }
      .attribute-row {
        .attribute-group {
          margin: 5px;
        }
      }
      .attributes .attribute {
        flex: 0 0 60px;
        &.health {
          flex: 0 0 85px;
        }
        &.saving-throw {
          flex: 0 0 40px;
        }
      }
    }
  }
  .attributes {
    .attribute.health {
      position: relative;
      .attribute-name .hp-roll {
        font-size: 12px;
        position: absolute;
        right: 5px;
        top: 5px;
        color: $colorFaint;
        &:hover {
          color: white;
        }
      }
    }
  }
  .attribute-group {
    .attacks-description {
      margin: 2px;
      padding: 0;
      text-align: center;
      label {
        color: $colorTan;
        font-size: 10px;
      }
    }
  }
  .panel.abilities {
    .attack-pattern {
      // border-bottom: 1px solid $colorDark;
      box-shadow: 1px 0 1px black;
    }
    .item-list {
      .item-entry {
        .item-pattern {
          flex: 0 15px;
          font-size: 10px;
          text-align: center;
          cursor: pointer;
          &:hover .fas {
            transform: rotate(90deg);
          }
        }
      }  
    }
  }
}
