<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-col">
      <h1 class="charname">
        <input name="name" type="text" value="{{name}}" placeholder="Name" />
      </h1>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats narrow">
        <div class="form-group">
          <label>{{localize 'SNW.spells.Level'}}</label>
          <div class="form-fields">
            <select name="data.lvl">
              {{#select data.lvl}}
              <option value=""></option>
              {{#each config.spell_levels as |lvl a|}}
              <option value="{{a}}">{{lvl}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'SNW.spells.Class'}}</label>
          <div class="form-fields">
            <select name="data.class">
              {{#select data.class}}
              <option value=""></option>
              {{#each config.spell_casters as |class a|}}
              <option value="{{a}}">{{class}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class="form-group block-input">
          <label>{{localize 'SNW.spells.Duration'}}</label>
          <div class="form-fields">
            <input type="text" name="data.duration" value="{{data.duration}}" data-dtype="String" />
          </div>
        </div>
        <div class="form-group block-input">
          <label>{{localize 'SNW.spells.Range'}}</label>
          <div class="form-fields">
            <input type="text" name="data.range" value="{{data.range}}" data-dtype="String" />
          </div>
        </div>
        <div class="form-group block-input">
          <label>{{localize 'SNW.items.Roll'}}</label>
          <div class="form-fields">
            <input type="text" name="data.roll" value="{{data.roll}}" data-dtype="String" />
          </div>
        </div>
      </div>
      <div class="description">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable}}
      </div>
    </div>
  </section>
</form>